@page
@model VSSaturdayPN2019.Dottor.Web.FilesModel
@using VSSaturdayPN2019.Dottor.Web.Components
@{
    ViewData["Title"] = "Files";
}




<div id="FilesComponent">
    @(await Html.RenderComponentAsync<FilesComponent>(RenderMode.ServerPrerendered))
</div>

<script src="_framework/blazor.server.js" ></script>

